<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
     
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Dispositivos Electronicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/conexionRedController/vista}">Conexiones de red</a>
        </li>        
      </ul>
    </div>
    
</nav>